
.tamaño-login{
    margin: 1%;
    margin-top: 130px;
    padding: 2%;
    width: 40%;
    position: relative;
    left: 30%;
    border-radius: 10px;
    text-align: center;
    background-color: #34a0a4;
    border: solid 2px coral;
}
.botongoogle{
    width: 70% !important;
    height: 50px;
    border-radius: 20px !important;
    border: 0px;
    color: aliceblue;
}
.botongoogle > div {
    background : none !important;
}

@media only screen and (max-width: 720px){
    .tamaño-login{
        width: 97%;
        left: 0px;
        margin:1%;
        margin-top: 170px;
    }
}

