.tamañoImg{
  width: 100%;
  height: 200px;
}
.hover-img {
    background-color: #000;
    color: #fff;
    display: inline-block;
    margin: 8px;
    max-width: 350px;
    min-width: 240px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 95%;
  }
  
  .hover-img * {
    box-sizing: border-box;
    transition: all 0.45s ease;
  }
  
  .hover-img:before,
  .hover-img:after {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 32px solid rgba(0, 0, 0, 0.5);
    border-bottom: 32px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: scaleY(2);
  }
  
  .hover-img img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
  }
  
  .hover-img figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.1s;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .hover-img:hover:before,
  .hover-img:hover:after {
    transform: scale(1);
    opacity: 1;
  }
  
  .hover-img:hover > img {
    opacity: 0.7;
  }
  
  .hover-img:hover figcaption {
    opacity: 1;
  }


  .tamañoCar{
    width: 22rem;
    background-color: #34a0a4 !important;
    
  }

  /* css del acordion */
  .item{
    background-color:#34a0a4;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #0d6efd !important ;
}
.title-city{
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
p{
  padding-top: 15px;
}
.content{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    font-size: small;
    
}
.content.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
    font-size: 14px;
}

.boton{
  width: 100%;
    border-radius: 5px !important;
    padding: 5px 10px !important;
    border: solid 1px!important;

    text-align: start !important;
    background-color: #0d6efd !important ;
}
.cardBody{
  padding: 0px 8px 8px 8px;
}